.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin: 0 0;
  width: 100%;
}

.descriptionMainFeature {
  font-weight: 550;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.cardConainer {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 2px solid #86898b;
  border-radius: 8px;
  height: 200px;
  width: 450px;
  margin-bottom: 50px;
  transition: 0.5s;
}
