.title {
  font-size: 2.2rem;
  margin-top: 0px;
  margin-bottom: 10px;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 1.8rem;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
